Once there was an {{Adjective}} princess named {{FemaleName1}}. She lived in a {{Adjective}} castle surrounded by {{PluralNoun}} and {{PluralNoun}}. One day her {{JobTitle}}, {{FemaleName2}}, came up and said "{{FemaleName1}} we have a problem with the {{Noun}}!!" It won't stop {{IngVerb}} the poor {{Place}} below our {{Adjective}} castle.
