<% content_for :title do %>About Twenty Percent<% end %>

<h3>Twenty Percent</h3>

<p>
  Twenty Percent is a team of three, newish, rails developers.
</p>

<hr />

<h3>Members</h3>

<h4>Andy Arminio (<a href="http://twitter.com/5thWall">@5thWall</a>)</h4>

<p>
  By day, Andy works as an ASP.NET developer for
  <a href="http://nau.edu">Northern Arizona University</a>. Ruby has been his
  hobby language for some time now, but <a href="http://radlibs.net">RadLibs</a>
  is his first Rails application.
</p>

<h4>
  Louis Rudner (<a href="https://twitter.com/louisrudner">@louisrudner</a>)
</h4>

<p>
  Louis has been working with Rails for about a year, and over the past few
  months he's been working on a number of Rails apps:
</p>

<ul>
  <li><a href="http://intrview.net">intrview.net</a></li>
  <li><a href="earlybird.im">earlybird.im</a></li>
</ul>

<p>
  Check out his <a href="http://dribbble.com/louisrudner">Dribble</a> for a
  little slice of his design work.
</p>

<h4>
  Nikhil Paul (<a href="https://twitter.com/nikhiljpaul">@nikhiljpaul</a>)
</h4>

<p>
  Louis is working on my own startup
  <a href="http://nfoshare.com/">Nfoshare</a>, a social Q&amp;A platform to
  connect college student questions to their faculty, university tutors and
  their classmates to have real-time academic conversations.
</p>
