<% content_for :title do %>Viewing Radlibs<% end %>

<h3>Radlibs</h3>

<% if can? :create, Radlib %>
  <div><%= link_to '+ New Radlib', new_radlib_path %></div>
<% end %>
<hr>

<%= render @radlibs %>
<br />
