<% content_for :title do "Filling Out: #{@radlib.template_title}" end %>

<h3>Fill Out <%= @radlib.template_title %></h3>
<hr>

<%= render 'form', radlib: @radlib %>

<%= link_to 'Back', radlibs_path %>
